* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mali', cursive;
}


/* Selection */

.selection {
  background-image: url('background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
}

.selection__title {
  font-size: 45px;
  text-transform: uppercase;
}

input {
  display: none;
}

label {
  border: 1px solid black;
  border-radius: 4px;
  display: inline-block;
  background-position: center;
  width: 300px;
  height: 300px;
  vertical-align: top;
  background-size: cover;
  cursor: pointer;
  margin: 0 20px;
  shape-outside: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%, 50% 0);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%, 50% 0);
}

label:hover {
  box-shadow: 2px 5px 5px gray;
  transform: translateY(-2px);
}

.perro {
  background-image: url('perro.png');
}

.gato {
  background-image: url('https://www.abc.es/media/sociedad/2016/10/20/gato-huerfano2-kM2--620x349@abc.jpg');
}

.tortuga {
  background-image: url('tortuga.jpg');
}

.selection img {
  width: 100%;
}

/* Results  */

.results {
  background-image: url('results.jpg');
  background-size: cover;
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.results__img {
  width: 600px;
}


.hidden {
  display: none;
}
